html,
body {
  height: 100%;
}

.canvas {
  background: #3a0ca3;
  height: 100%;
}

.btn-primary {
  margin-top: 15px;
  background: #4361ee;
}

.textarea {
  margin-top: 10px;
  width: 100%;
  min-height: 150px;
}
